<style>
    .joe-product-info{

    @media screen and (min-width: 751px){
       .shop_confidence-container {
            display: flex;
            {% comment %} gap: 12px; {% endcomment %}
            margin-top: 24px;
            align-items:center;
        }
        
        .shop_confidence-container>span.svg_wrapper {
            width: 28px;
            height: 20px;
            {% comment %} padding-right: 8px; {% endcomment %}
            {% comment %} border-right: 1px solid rgba(190, 191, 193, 1); {% endcomment %}
        }

        .shop_confidence-container  .shop_confidence-wrapper{
                border-left: 1px solid rgba(190, 191, 193, 1);
                 padding-left: 11px;
        }

        a.shop_confidence-url {
            display: flex;
            align-items: center;
            gap: 8px;
            color: rgba(50, 51, 52, 1);
            font-family: Kanit;
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            vertical-align: middle;
        }

        a.shop_confidence-url {
            display: flex;
            align-items: center;
            gap: 8px;
            color: rgba(50, 51, 52, 1);
            font-family: Kanit;
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            vertical-align: middle;
        }

        ul#shop_confidence-content {
            list-style: disc;
            padding-left: 11px;
        }

        ul#shop_confidence-content li{
            color:rgba(83, 84, 85, 1);
        font-family: Kanit;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0%;
        }

        ul#shop_confidence-content li::marker {
        font-size: 1rem; /* 控制点的大小 */
        }

        span.shop_confidence-url_important {
            display: inline-flex;
            color: rgba(99, 91, 255, 1);
            align-items: center;
            padding-left: 8px;
        }
    }

    @media screen and (max-width: 750px){
       .shop_confidence-container {
            display: flex;
            {% comment %} gap: 12px; {% endcomment %}
             align-items:center;
            margin-top: 24px;
        }
        
        .shop_confidence-container>span.svg_wrapper {
            width: 28px;
            height: 20px;
            padding-right: 8px;
            {% comment %} border-right: 1px solid rgba(190, 191, 193, 1); {% endcomment %}
        }

        a.shop_confidence-url {
            display: flex;
            align-items: center;
            gap: 8px;
            color: rgba(50, 51, 52, 1);
            font-family: Kanit;
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            vertical-align: middle;
        }
        div.shop_confidence-wrapper{
                border-left: 1px solid rgba(190, 191, 193, 1);
                padding-left:11px;
        }

        a.shop_confidence-url {
            display: flex;
            align-items: center;
            gap: 8px;
            color: rgba(50, 51, 52, 1);
            font-family: Kanit;
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            vertical-align: middle;
        }

        ul#shop_confidence-content {
            list-style: disc;
            padding-left: 11px;
        }

        ul#shop_confidence-content li{
            color:rgba(83, 84, 85, 1);
        font-family: Kanit;
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0%;
        }

        ul#shop_confidence-content li::marker {
        font-size: 1rem; /* 控制点的大小 */
        }
        span.shop_confidence-url_important {
            display: inline-flex;
            color: rgba(99, 91, 255, 1);
            align-items: center;
            padding-left: 8px;
        }
    }

  }
</style>

<div class="shop_confidence-container">
    <span class="svg_wrapper">
     {% render 'shop-confidence' %}
    </span>
  <div class="shop_confidence-wrapper">
    <a href="{{ block.settings.confidence_url }}" class="shop_confidence-url">
        <span class="shop_confidence-url_text" >Shop with Confidence!</span>
        <span class="svg_wrapper">
            {% render 'icon-important' %}
        </span>
    </a>
    <ul id="shop_confidence-content">
        <li>100% Protection Against Shipping Mishaps</li>
        <li>WORRY-FREE PURCHASE BY <span class="shop_confidence-url_important">seel</span></li>
    </ul>
  </div>
</div>

<style>
    .joe-product-info{
            @media screen and (min-width: 751px){
                .shop_confidence-url_text{
                        padding-left: 11px;
                }
            }
             @media screen and (max-width: 750px){
                .shop_confidence-url_text{
                        padding-left: 11px;
                }
            }
    }
</style>



