

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-547387267702916021.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-547387267702916021.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-547387267702916021.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-547387267702916021.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-547387267702916021.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-547387267702916021.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-547387267702916021.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-547387267702916021.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-547387267702916021.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-547387267702916021.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-547387267702916021.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-547387267702916021.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-547387267702916021.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-547387267702916021.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-547387267702916021.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-547387267702916021.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-547387267702916021.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-547387267702916021.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-547387267702916021.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-547387267702916021.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-547387267702916021.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-547387267702916021.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-547387267702916021.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-547387267702916021.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-547387267702916021.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-547387267702916021.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-547387267702916021.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-547387267702916021.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-547387267702916021.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-547387267702916021.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-547387267702916021.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-547387267702916021.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-547387267702916021.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-547387267702916021.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-547387267702916021.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-547387267702916021.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-547387267702916021.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-547387267702916021.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-547387267702916021.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-547387267702916021.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-547387267702916021.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-547387267702916021.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-547387267702916021.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-547387267702916021.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-547387267702916021.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-547387267702916021.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-547387267702916021.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-547387267702916021.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-547387267702916021.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-547387267702916021.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-547387267702916021.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-547387267702916021.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-547387267702916021.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-547387267702916021.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-547387267702916021.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-547387267702916021.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-547387267702916021.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-547387267702916021.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-547387267702916021 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-547387267702916021 .gp-relative{position:relative}.gps-547387267702916021 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-547387267702916021 .gp-mb-0{margin-bottom:0}.gps-547387267702916021 .gp-flex{display:flex}.gps-547387267702916021 .gp-grid{display:grid}.gps-547387267702916021 .gp-contents{display:contents}.gps-547387267702916021 .\!gp-hidden{display:none!important}.gps-547387267702916021 .gp-hidden{display:none}.gps-547387267702916021 .gp-h-auto{height:auto}.gps-547387267702916021 .gp-h-full{height:100%}.gps-547387267702916021 .gp-w-full{width:100%}.gps-547387267702916021 .gp-max-w-full{max-width:100%}.gps-547387267702916021 .gp-flex-none{flex:none}.gps-547387267702916021 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-547387267702916021 .gp-flex-col{flex-direction:column}.gps-547387267702916021 .gp-gap-y-0{row-gap:0}.gps-547387267702916021 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547387267702916021 .gp-duration-200{transition-duration:.2s}.gps-547387267702916021 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-547387267702916021 .tablet\:\!gp-hidden{display:none!important}.gps-547387267702916021 .tablet\:gp-hidden{display:none}.gps-547387267702916021 .tablet\:gp-h-auto{height:auto}.gps-547387267702916021 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-547387267702916021 .mobile\:\!gp-hidden{display:none!important}.gps-547387267702916021 .mobile\:gp-hidden{display:none}.gps-547387267702916021 .mobile\:gp-h-auto{height:auto}.gps-547387267702916021 .mobile\:gp-flex-none{flex:none}}.gps-547387267702916021 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-547387267702916021 .\[\&_p\]\:gp-inline p{display:inline}.gps-547387267702916021 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-547387267702916021 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g6sWLW3DEX" data-id="g6sWLW3DEX"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g6sWLW3DEX gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9yUQWi6tQ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gP1pUgghmm" data-id="gP1pUgghmm"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:1200%;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gP1pUgghmm gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gcdlSy8zKk gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gv6utzk5H6"
    role="presentation"
    class="gp-group/image gv6utzk5H6 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="https://www.roeststaette.com/wp-content/uploads/2024/05/Cafe_Imports_GEthiopia_DP-2022-05-10-130635.jpg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzk1MiIgaGVpZ2h0PSI1MzA0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy03OTUyLTUzMDQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9Ijc5NTIiIGhlaWdodD0iNTMwNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzk1MiIgaGVpZ2h0PSI1MzA0IiBmaWxsPSJ1cmwoI2ctNzk1Mi01MzA0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNzk1MiIgdG89Ijc5NTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://www.roeststaette.com/wp-content/uploads/2024/05/Cafe_Imports_GEthiopia_DP-2022-05-10-130635.jpg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzk1MiIgaGVpZ2h0PSI1MzA0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy03OTUyLTUzMDQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9Ijc5NTIiIGhlaWdodD0iNTMwNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzk1MiIgaGVpZ2h0PSI1MzA0IiBmaWxsPSJ1cmwoI2ctNzk1Mi01MzA0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNzk1MiIgdG89Ijc5NTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzk1MiIgaGVpZ2h0PSI1MzA0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy03OTUyLTUzMDQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9Ijc5NTIiIGhlaWdodD0iNTMwNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzk1MiIgaGVpZ2h0PSI1MzA0IiBmaWxsPSJ1cmwoI2ctNzk1Mi01MzA0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNzk1MiIgdG89Ijc5NTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="https://www.roeststaette.com/wp-content/uploads/2024/05/Cafe_Imports_GEthiopia_DP-2022-05-10-130635.jpg"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gC6ofPwilo gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gbUBXmbA2c">
    <div
      parentTag="Col"
        class="gbUBXmbA2c "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--mb-tablet:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:700;--size:32px;--size-tablet:28px;--size-mobile:30px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggbUBXmbA2c_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gmIEPKnFn-">
    <div
      parentTag="Col"
        class="gmIEPKnFn- "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:21px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggmIEPKnFn-_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gaWrhpxZga">
    <div
      parentTag="Col"
        class="gaWrhpxZga "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:13px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggaWrhpxZga_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_04uQ6jTYk.woff) format('woff');
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6jTYk.woff) format('woff');
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-547387267702916021 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=547387267686073269&sectionId=547387267702916021)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggbUBXmbA2c_text","label":"ggbUBXmbA2c_text","default":"Ethiopia"},{"type":"html","id":"ggmIEPKnFn-_text","label":"ggmIEPKnFn-_text","default":"<p>Mundayo Washing Station in Oromia, West Arsi</p>"},{"type":"html","id":"ggaWrhpxZga_text","label":"ggaWrhpxZga_text","default":"<p>Picked, sorted, dried: This wonderful coffee is grown by smallholder farmers at an altitude of between 1945 and 2100 metres, who then take their harvest to the Mundayo Washing Station in West Arsi in southern Ethiopia for further processing. The Mundayo Washing Station is located in the Oromia region (in the West Arsi zone) and supports around 750 smallholder farmers. The farmers bring their coffee cherries to the washing station, where they are carefully sorted to remove damaged or unripe cherries. It is a naturally processed coffee that is dried in the sun on African beds for three weeks. The farmers in this region generally do not use fertilisers or pesticides in coffee production as they do not have access to them. Our coffee comes from our partner Cafe Imports, which works closely with the coffee farmers and cooperatives. This close relationship not only guarantees the high quality of the coffee, but also promotes a sustainable and supportive local partnership.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
