

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-573796224805634962.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-573796224805634962.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-573796224805634962.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-573796224805634962.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-573796224805634962.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-573796224805634962.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-573796224805634962.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-573796224805634962.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-573796224805634962.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-573796224805634962.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-573796224805634962.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-573796224805634962.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-573796224805634962.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-573796224805634962.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-573796224805634962.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-573796224805634962.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-573796224805634962.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-573796224805634962.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-573796224805634962.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-573796224805634962.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-573796224805634962.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-573796224805634962.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-573796224805634962.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-573796224805634962.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-573796224805634962.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-573796224805634962.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-573796224805634962.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-573796224805634962.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-573796224805634962.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-573796224805634962.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-573796224805634962.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-573796224805634962.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-573796224805634962.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-573796224805634962.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-573796224805634962.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-573796224805634962.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-573796224805634962.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-573796224805634962.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-573796224805634962.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-573796224805634962.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-573796224805634962.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-573796224805634962.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-573796224805634962.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-573796224805634962.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-573796224805634962.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-573796224805634962.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-573796224805634962.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-573796224805634962.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-573796224805634962.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-573796224805634962.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-573796224805634962.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-573796224805634962.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-573796224805634962.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-573796224805634962.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-573796224805634962 .gp-relative{position:relative}.gps-573796224805634962 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-573796224805634962 .gp-mb-0{margin-bottom:0}.gps-573796224805634962 .gp-flex{display:flex}.gps-573796224805634962 .gp-grid{display:grid}.gps-573796224805634962 .\!gp-hidden{display:none!important}.gps-573796224805634962 .gp-hidden{display:none}.gps-573796224805634962 .gp-max-w-full{max-width:100%}.gps-573796224805634962 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-573796224805634962 .gp-flex-col{flex-direction:column}.gps-573796224805634962 .gp-gap-y-0{row-gap:0}.gps-573796224805634962 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-573796224805634962 .gp-duration-200{transition-duration:.2s}.gps-573796224805634962 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-573796224805634962 .tablet\:\!gp-hidden{display:none!important}.gps-573796224805634962 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-573796224805634962 .mobile\:\!gp-hidden{display:none!important}.gps-573796224805634962 .mobile\:gp-hidden{display:none}}.gps-573796224805634962 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-573796224805634962 .\[\&_p\]\:gp-inline p{display:inline}.gps-573796224805634962 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-573796224805634962 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(1500px + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:0px;--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gNK8Yq38vh" data-id="gNK8Yq38vh"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:0px;--pt:var(--g-s-l);--pl:20px;--pb:var(--g-s-l);--pr:20px;--pt-mobile:var(--g-s-s);--pl-mobile:var(--g-s-m);--pb-mobile:10px;--pr-mobile:var(--g-s-m);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:1500px;--w-tablet:100%;--w-mobile:100%;--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNK8Yq38vh gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gOxkntulru gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gjNyc6XPWD" data-id="gjNyc6XPWD"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:8px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#f6f6f6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjNyc6XPWD gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVgQObpAxl gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gllYxK5W2I">
    <div
      parentTag="Col"
        class="gllYxK5W2I "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-l);--ml:var(--g-s-l);--mb:8px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:700;--size:34px;--size-tablet:30px;--size-mobile:25px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggllYxK5W2I_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g3h5eQmf1C">
    <div
      parentTag="Col"
        class="g3h5eQmf1C "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:var(--g-s-l);--mb:8px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--size:17px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg3h5eQmf1C_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_0KuQ6jTYk.woff) format('woff');
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6jTYk.woff) format('woff');
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-573796224805634962 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=573796224738526098&sectionId=573796224805634962)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggllYxK5W2I_text","label":"ggllYxK5W2I_text","default":"Product Description"},{"type":"html","id":"gg3h5eQmf1C_text","label":"gg3h5eQmf1C_text","default":"<p>In 1999, Louis Ndereyimana, a coffee farmer in Rwanda, expanded his focus from growing coffee to purchasing parchment from other farmers and supplying it to local companies. Originally starting with 500 coffee trees, his success in farming improved his family’s education, economic standing, and social welfare. As his family grew, he decided to invest further in the coffee industry alongside his children.</p><p><br>In 2017, Louis obtained a license to build his first coffee washing station, Nyamasheke Hills Coffee, in the Kanjongo Sector of Nyamasheke District in Rwanda’s Western Province. By 2018, he had established a second coffee washing station, Birambo CWS, in Gashali Sector, Karongi District, also in the Western Province. Together, these stations process around four containers (19,200 kg each) of specialty coffee annually.</p><p><br>Currently, the stations handle Red Bourbon coffee but plan to add Yellow Bourbon varieties. Seedling preparation is already underway, with the new coffee expected to be available within four years. The coffee farms associated with these stations are situated at altitudes between 1,750 and 2,200 meters above sea level (MASL), located within the fertile Kivu Lake catchment basin and the high mountains near Nyungwe National Park. The region’s volcanic soil and high altitude contribute to the production of high-quality coffee recognized on a global scale.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
