
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-584913687706338164.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-584913687706338164.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-584913687706338164.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-584913687706338164.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-584913687706338164.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-584913687706338164.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-584913687706338164.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-584913687706338164.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-584913687706338164.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-584913687706338164.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-584913687706338164.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-584913687706338164.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-584913687706338164.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-584913687706338164.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-584913687706338164.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-584913687706338164.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-584913687706338164.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-584913687706338164.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-584913687706338164.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-584913687706338164.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-584913687706338164.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-584913687706338164.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-584913687706338164.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-584913687706338164.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-584913687706338164.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-584913687706338164.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-584913687706338164.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-584913687706338164.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-584913687706338164.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-584913687706338164.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-584913687706338164.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-584913687706338164.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-584913687706338164.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-584913687706338164.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-584913687706338164.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-584913687706338164.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-584913687706338164.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-584913687706338164.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-584913687706338164.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-584913687706338164.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-584913687706338164.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-584913687706338164.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-584913687706338164.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-584913687706338164.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-584913687706338164.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-584913687706338164.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-584913687706338164.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-584913687706338164.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-584913687706338164.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-584913687706338164.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-584913687706338164.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-584913687706338164.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-584913687706338164.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-584913687706338164.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-584913687706338164.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-584913687706338164.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-584913687706338164.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-584913687706338164.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-584913687706338164.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-584913687706338164.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-584913687706338164.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-584913687706338164.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-584913687706338164.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-584913687706338164.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-584913687706338164.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-584913687706338164.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-584913687706338164.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-584913687706338164.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-584913687706338164.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-584913687706338164.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-584913687706338164.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-584913687706338164.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-584913687706338164 .gp-relative{position:relative}.gps-584913687706338164 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-584913687706338164 .gp-mb-0{margin-bottom:0}.gps-584913687706338164 .gp-inline-block{display:inline-block}.gps-584913687706338164 .gp-flex{display:flex}.gps-584913687706338164 .gp-grid{display:grid}.gps-584913687706338164 .gp-contents{display:contents}.gps-584913687706338164 .\!gp-hidden{display:none!important}.gps-584913687706338164 .gp-hidden{display:none}.gps-584913687706338164 .gp-h-auto{height:auto}.gps-584913687706338164 .gp-h-full{height:100%}.gps-584913687706338164 .gp-w-full{width:100%}.gps-584913687706338164 .gp-max-w-full{max-width:100%}.gps-584913687706338164 .gp-flex-none{flex:none}.gps-584913687706338164 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-584913687706338164 .gp-flex-col{flex-direction:column}.gps-584913687706338164 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-584913687706338164 .gp-duration-200{transition-duration:.2s}.gps-584913687706338164 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-584913687706338164 .tablet\:\!gp-hidden{display:none!important}.gps-584913687706338164 .tablet\:gp-hidden{display:none}.gps-584913687706338164 .tablet\:gp-h-auto{height:auto}.gps-584913687706338164 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-584913687706338164 .mobile\:\!gp-hidden{display:none!important}.gps-584913687706338164 .mobile\:gp-hidden{display:none}.gps-584913687706338164 .mobile\:gp-h-auto{height:auto}.gps-584913687706338164 .mobile\:gp-flex-none{flex:none}}.gps-584913687706338164 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#00000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","preload":false}},"uid":"g0IjNkLp-0"}' data-id="g0IjNkLp-0" id="g0IjNkLp-0" data-same-height-subgrid-container class="g0IjNkLp-0 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:var(--g-s-2xl);--pt:var(--g-s-3xl);--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--pt-tablet:var(--g-s-xxs);--pl-tablet:15px;--pb-tablet:var(--g-s-xxs);--pr-tablet:15px;--pt-mobile:2px;--pl-mobile:15px;--pb-mobile:var(--g-s-xxs);--pr-mobile:15px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gRDbxZXziC gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="geoVFhvEKv"
        class="geoVFhvEKv"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:31px;--mt-tablet:35px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mt-mobile:35px;--mb-mobile:10px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758792884767"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:42px;--size-tablet:38px;--size-mobile:23px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggeoVFhvEKv_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g_ILue0UL1"}' data-id="g_ILue0UL1" id="g_ILue0UL1" data-same-height-subgrid-container class="g_ILue0UL1 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:var(--g-s-xl);--pl:0px;--pb:var(--g-s-xl);--pr:0px;--mb-mobile:0px;--pt-mobile:var(--g-s-xl);--pl-mobile:0px;--pb-mobile:var(--g-s-xl);--pr-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gS_HN4yROQ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gXZlaHwtX9"
      style="--mt:0px;--mb:0px;--pt:0px;--pl:var(--g-s-s);--pb:0px;--pr:var(--g-s-s);--mt-tablet:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:20px;--pb-tablet:0px;--pr-tablet:20px;--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:20px;--pb-mobile:0px;--pr-mobile:20px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1758792884768 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gXZlaHwtX9"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/VS6_768x.png?v=1758792762" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQxNyIgaGVpZ2h0PSIxNjU5IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDE3LTE2NTkiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0MTciIGhlaWdodD0iMTY1OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQxNyIgaGVpZ2h0PSIxNjU5IiBmaWxsPSJ1cmwoI2ctMTQxNy0xNjU5KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQxNyIgdG89IjE0MTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/vs3_1024x.jpg?v=1758697489" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQwOSIgaGVpZ2h0PSIxNjk4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDA5LTE2OTgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0MDkiIGhlaWdodD0iMTY5OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQwOSIgaGVpZ2h0PSIxNjk4IiBmaWxsPSJ1cmwoI2ctMTQwOS0xNjk4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQwOSIgdG89IjE0MDkiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/VS6.png?v=1758792762" quality-type="{&quot;desktop&quot;:&quot;finest&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQxNyIgaGVpZ2h0PSIxNjU5IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDE3LTE2NTkiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0MTciIGhlaWdodD0iMTY1OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQxNyIgaGVpZ2h0PSIxNjU5IiBmaWxsPSJ1cmwoI2ctMTQxNy0xNjU5KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQxNyIgdG89IjE0MTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/VS6.png?v=1758792762"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-584913687706338164 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=584659961389253189&sectionId=584913687706338164)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggeoVFhvEKv_text","label":"ggeoVFhvEKv_text","default":"Specs That Set Us Apart"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  