

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-548551592250049443.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-548551592250049443.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-548551592250049443.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-548551592250049443.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-548551592250049443.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-548551592250049443.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-548551592250049443.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-548551592250049443.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-548551592250049443.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-548551592250049443.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-548551592250049443.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-548551592250049443.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-548551592250049443.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-548551592250049443.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-548551592250049443.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-548551592250049443.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-548551592250049443.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-548551592250049443.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-548551592250049443.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-548551592250049443.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-548551592250049443.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-548551592250049443.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-548551592250049443.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-548551592250049443.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-548551592250049443.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-548551592250049443.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-548551592250049443.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-548551592250049443.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-548551592250049443.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-548551592250049443.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-548551592250049443.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-548551592250049443.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-548551592250049443.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-548551592250049443.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-548551592250049443.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-548551592250049443.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-548551592250049443.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-548551592250049443.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-548551592250049443.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-548551592250049443.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-548551592250049443.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-548551592250049443.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-548551592250049443.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-548551592250049443.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-548551592250049443.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-548551592250049443.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-548551592250049443.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-548551592250049443.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-548551592250049443.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-548551592250049443.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-548551592250049443.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-548551592250049443.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-548551592250049443.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-548551592250049443.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-548551592250049443.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-548551592250049443.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-548551592250049443.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-548551592250049443.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-548551592250049443.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-548551592250049443.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-548551592250049443 .gp-relative{position:relative}.gps-548551592250049443 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-548551592250049443 .gp-mb-0{margin-bottom:0}.gps-548551592250049443 .gp-flex{display:flex}.gps-548551592250049443 .gp-grid{display:grid}.gps-548551592250049443 .\!gp-hidden{display:none!important}.gps-548551592250049443 .gp-hidden{display:none}.gps-548551592250049443 .gp-max-w-full{max-width:100%}.gps-548551592250049443 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-548551592250049443 .gp-flex-col{flex-direction:column}.gps-548551592250049443 .gp-gap-y-0{row-gap:0}.gps-548551592250049443 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-548551592250049443 .gp-duration-200{transition-duration:.2s}.gps-548551592250049443 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-548551592250049443 .tablet\:\!gp-hidden{display:none!important}.gps-548551592250049443 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-548551592250049443 .mobile\:\!gp-hidden{display:none!important}.gps-548551592250049443 .mobile\:gp-hidden{display:none}}.gps-548551592250049443 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-548551592250049443 .\[\&_p\]\:gp-inline p{display:inline}.gps-548551592250049443 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-548551592250049443 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gnnS2na-6p" data-id="gnnS2na-6p"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-tablet:0px;--pb-tablet:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#151515;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gnnS2na-6p gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="go_k6iRS3e gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="goenaReq9Y">
    <div
      parentTag="Col"
        class="goenaReq9Y "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:0px;--mr:0px;--pt:var(--g-s-3xl);--pb:var(--g-s-2xl);--mt-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:var(--g-s-2xl);--pb-mobile:var(--g-s-2xl);--mt-tablet:0px;--mb-tablet:0px;--mr-tablet:0px;--pt-tablet:var(--g-s-l);--pb-tablet:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#838383;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:800;--ls:normal;--size:46px;--size-tablet:40px;--size-mobile:24px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;word-break:break-word;--bgc:#121212;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggoenaReq9Y_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-548551592250049443 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=548551592115176355&sectionId=548551592250049443)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggoenaReq9Y_text","label":"ggoenaReq9Y_text","default":"Other features"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
