

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-574664497626088560.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-574664497626088560.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-574664497626088560.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-574664497626088560.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-574664497626088560.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-574664497626088560.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-574664497626088560.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-574664497626088560.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-574664497626088560.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-574664497626088560.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-574664497626088560.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-574664497626088560.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-574664497626088560.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-574664497626088560.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-574664497626088560.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-574664497626088560.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-574664497626088560.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-574664497626088560.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-574664497626088560.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-574664497626088560.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-574664497626088560.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-574664497626088560.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-574664497626088560.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-574664497626088560.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-574664497626088560.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-574664497626088560.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-574664497626088560.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-574664497626088560.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-574664497626088560.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-574664497626088560.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-574664497626088560.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-574664497626088560.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-574664497626088560.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-574664497626088560.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-574664497626088560.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-574664497626088560.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-574664497626088560.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-574664497626088560.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-574664497626088560.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-574664497626088560.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-574664497626088560.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-574664497626088560.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-574664497626088560.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-574664497626088560.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-574664497626088560.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-574664497626088560.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-574664497626088560.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-574664497626088560.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-574664497626088560.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-574664497626088560.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-574664497626088560.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-574664497626088560.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-574664497626088560.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-574664497626088560.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-574664497626088560.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-574664497626088560.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-574664497626088560.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-574664497626088560.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-574664497626088560.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-574664497626088560.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-574664497626088560.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-574664497626088560.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-574664497626088560.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-574664497626088560.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-574664497626088560.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-574664497626088560.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-574664497626088560.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-574664497626088560.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-574664497626088560.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-574664497626088560.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-574664497626088560 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-574664497626088560 .gp-relative{position:relative}.gps-574664497626088560 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-574664497626088560 .gp-mb-0{margin-bottom:0}.gps-574664497626088560 .gp-flex{display:flex}.gps-574664497626088560 .gp-grid{display:grid}.gps-574664497626088560 .\!gp-hidden{display:none!important}.gps-574664497626088560 .gp-hidden{display:none}.gps-574664497626088560 .gp-max-w-full{max-width:100%}.gps-574664497626088560 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-574664497626088560 .gp-flex-col{flex-direction:column}.gps-574664497626088560 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-574664497626088560 .gp-duration-200{transition-duration:.2s}.gps-574664497626088560 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-574664497626088560 .tablet\:\!gp-hidden{display:none!important}.gps-574664497626088560 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-574664497626088560 .mobile\:\!gp-hidden{display:none!important}.gps-574664497626088560 .mobile\:gp-hidden{display:none}}.gps-574664497626088560 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>


    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gkdJxQ5YCW"}' data-id="gkdJxQ5YCW" id="gkdJxQ5YCW" data-same-height-subgrid-container class="gkdJxQ5YCW gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--pt:0px;--pb:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gHk6V8Stsp gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gfYbZj3_0E"
        class="gfYbZj3_0E"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mt:0px;--ml:191px;--mr:191px;--pl:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:28px;--mr-mobile:28px;--mt-tablet:var(--g-s-l);--mb-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753958901063"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:1000px;--w-mobile:1000px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggfYbZj3_0E_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
        </section>
      
  


{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-574664497626088560 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=574664497592009840&sectionId=574664497626088560)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggfYbZj3_0E_text","label":"ggfYbZj3_0E_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:16px;\">All Röststätte coffees are gently roasted by hand in Berlin, allowing the natural aromas to fully develop without creating unwanted acids. To ensure a pronounced body and a diverse flavor profile in the cup, we aim to emphasize and optimally process the specific characteristics of the respective variety, farm, and origin of the coffee. Our goal is to utilize the full potential of the green coffee through our roasting method and also highlight the valuable work of the producers in the growing countries. These are our quality principles – from source to the final cup.</span></p><p>&nbsp;</p><p>&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
