

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-548607794598118418.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-548607794598118418.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-548607794598118418.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-548607794598118418.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-548607794598118418.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-548607794598118418.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-548607794598118418.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-548607794598118418.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-548607794598118418.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-548607794598118418.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-548607794598118418.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-548607794598118418.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-548607794598118418.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-548607794598118418.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-548607794598118418.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-548607794598118418.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-548607794598118418.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-548607794598118418.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-548607794598118418.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-548607794598118418.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-548607794598118418.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-548607794598118418.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-548607794598118418.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-548607794598118418.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-548607794598118418.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-548607794598118418.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-548607794598118418.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-548607794598118418.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-548607794598118418.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-548607794598118418.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-548607794598118418.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-548607794598118418.gps.gpsil [style*="--hvr-op:"]:hover{opacity:var(--hvr-op)}.gps-548607794598118418.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-548607794598118418.gps.gpsil [style*="--hvr-o:"]:hover{order:var(--hvr-o)}.gps-548607794598118418.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-548607794598118418.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-548607794598118418.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-548607794598118418.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-548607794598118418.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-548607794598118418.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-548607794598118418.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-548607794598118418.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-548607794598118418.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-548607794598118418.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-548607794598118418.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-548607794598118418.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-548607794598118418.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1024px){.gps-548607794598118418.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-548607794598118418.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-548607794598118418.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-548607794598118418.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-548607794598118418.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-548607794598118418.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-548607794598118418.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-548607794598118418.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-548607794598118418.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-548607794598118418.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-548607794598118418.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-548607794598118418.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-548607794598118418.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-548607794598118418.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-548607794598118418.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-548607794598118418.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-548607794598118418.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-548607794598118418.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-548607794598118418.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-548607794598118418.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-548607794598118418.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-548607794598118418.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-548607794598118418.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-548607794598118418 .gp-absolute{position:absolute}.gps-548607794598118418 .gp-relative{position:relative}.gps-548607794598118418 .gp-inset-0{inset:0}.gps-548607794598118418 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-548607794598118418 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-548607794598118418 .gp-z-1{z-index:1}.gps-548607794598118418 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-548607794598118418 .gp-mb-0{margin-bottom:0}.gps-548607794598118418 .gp-flex{display:flex}.gps-548607794598118418 .gp-inline-flex{display:inline-flex}.gps-548607794598118418 .gp-grid{display:grid}.gps-548607794598118418 .\!gp-hidden{display:none!important}.gps-548607794598118418 .gp-hidden{display:none}.gps-548607794598118418 .gp-h-full{height:100%}.gps-548607794598118418 .gp-w-full{width:100%}.gps-548607794598118418 .gp-max-w-full{max-width:100%}.gps-548607794598118418 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-548607794598118418 .gp-flex-col{flex-direction:column}.gps-548607794598118418 .gp-items-center{align-items:center}.gps-548607794598118418 .\!gp-justify-center{justify-content:center!important}.gps-548607794598118418 .gp-justify-center{justify-content:center}.gps-548607794598118418 .gp-gap-y-0{row-gap:0}.gps-548607794598118418 .gp-overflow-hidden{overflow:hidden}.gps-548607794598118418 .gp-break-words{overflow-wrap:break-word}.gps-548607794598118418 .gp-rounded-none{border-radius:0}.gps-548607794598118418 .gp-text-center{text-align:center}.gps-548607794598118418 .gp-no-underline{text-decoration-line:none}.gps-548607794598118418 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-548607794598118418 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-548607794598118418 .gp-duration-200{transition-duration:.2s}.gps-548607794598118418 .gp-duration-300{transition-duration:.3s}.gps-548607794598118418 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-548607794598118418 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-548607794598118418 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-548607794598118418 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-548607794598118418 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-548607794598118418 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}.gps-548607794598118418 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-548607794598118418 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-548607794598118418 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-548607794598118418 .tablet\:gp-relative{position:relative}.gps-548607794598118418 .tablet\:\!gp-hidden{display:none!important}.gps-548607794598118418 .tablet\:gp-hidden{display:none}.gps-548607794598118418 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-548607794598118418 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-548607794598118418 .mobile\:gp-relative{position:relative}.gps-548607794598118418 .mobile\:\!gp-hidden{display:none!important}.gps-548607794598118418 .mobile\:gp-hidden{display:none}.gps-548607794598118418 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-548607794598118418 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1024px){.gps-548607794598118418 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-548607794598118418 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-548607794598118418 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-548607794598118418 .\[\&_p\]\:gp-inline p{display:inline}.gps-548607794598118418 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-548607794598118418 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-548607794598118418 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gOlJvoY8Kp" data-id="gOlJvoY8Kp"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gOlJvoY8Kp gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="guySelMKEM gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:500px;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"video","video":"https://youtu.be/9mmpYTa-kfs","videoType":"youtube"},"tablet":{"attachment":"scroll","color":"bg-2","lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"video","video":"https://youtu.be/9mmpYTa-kfs","videoType":"youtube"},"mobile":{"attachment":"scroll","color":"bg-2","lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"video","video":"https://youtu.be/9mmpYTa-kfs","videoType":"youtube"}},"uid":"g4XHckVZ0C","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"}}'
        gp-href=""
        
        class="g4XHckVZ0C gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:auto;--h-tablet:auto;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:16/9;--aspect-tablet:16/9"
        data-id="g4XHckVZ0C"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
        style="--h:auto;--h-tablet:auto;--h-mobile:500px;--aspect:16/9;--aspect-tablet:16/9;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <img
        title
        class="adaptive-hero-banner"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--d:none;--d-tablet:none;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background"
              style="--bgi:url();--bgi-tablet:url();--bgi-mobile:url();--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
            </div></div>
          </div>
          <div
              aria-label="Overlay"
              role="banner"
              class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:80%;--hvr-op:20%">
            </div>
          </div>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gCAp6XPxGH gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gEtm_W5QD6">
    <div
      parentTag="Col"
        class="gEtm_W5QD6 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:700;--size:35px;--size-tablet:23px;--size-mobile:21px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggEtm_W5QD6_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    
  >
    <style>
    .g_Qcp4GC_C.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .g_Qcp4GC_C:hover::before {
      
      
    }

    .g_Qcp4GC_C:hover .gp-button-icon {
      color: #3c96ee;
    }

     .g_Qcp4GC_C .gp-button-icon {
      color: #d1d1d1;
    }

    .g_Qcp4GC_C:hover .gp-button-price {
      color: #3c96ee;
    }

    .g_Qcp4GC_C .gp-button-price {
      color: #d1d1d1;
    }

    .g_Qcp4GC_C .gp-product-dot-price {
       color: #d1d1d1;
    }

    .g_Qcp4GC_C:hover .gp-product-dot-price {
      color: #3c96ee;
    }
  </style>
    <a
      href="https://youtu.be/9mmpYTa-kfs" target="_blank" data-id="g_Qcp4GC_C" aria-label="<p>Watch full video</p>"
      
      data-state="idle"
      class="g_Qcp4GC_C gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--hvr-c:#3c96ee;--c:#d1d1d1;--size:19px;--size-tablet:16px;--size-mobile:14px;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:19px;--size-tablet:16px;--size-mobile:14px;--hvr-c:#3c96ee;--c:#d1d1d1"
      >
        {{ section.settings.gg_Qcp4GC_C_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 15",
    "tag": "section",
    "class": "gps-548607794598118418 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=548607794429821970&sectionId=548607794598118418)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggEtm_W5QD6_text","label":"ggEtm_W5QD6_text","default":"A Tour of Innovation and Craftsmanship"},{"type":"html","id":"gg_Qcp4GC_C_label","label":"gg_Qcp4GC_C_label","default":"<p>Watch full video</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
