

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-574661982905435365.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-574661982905435365.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-574661982905435365.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-574661982905435365.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-574661982905435365.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-574661982905435365.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-574661982905435365.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-574661982905435365.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-574661982905435365.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-574661982905435365.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-574661982905435365.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-574661982905435365.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-574661982905435365.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-574661982905435365.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-574661982905435365.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-574661982905435365.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-574661982905435365.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-574661982905435365.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-574661982905435365.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-574661982905435365.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-574661982905435365.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-574661982905435365.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-574661982905435365.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-574661982905435365.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-574661982905435365.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-574661982905435365.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-574661982905435365.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-574661982905435365.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-574661982905435365.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-574661982905435365.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-574661982905435365.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-574661982905435365.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-574661982905435365.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-574661982905435365.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-574661982905435365.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-574661982905435365.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-574661982905435365.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-574661982905435365.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-574661982905435365.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-574661982905435365.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-574661982905435365.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-574661982905435365.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-574661982905435365.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-574661982905435365.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-574661982905435365.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-574661982905435365.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-574661982905435365.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-574661982905435365.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-574661982905435365.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-574661982905435365.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-574661982905435365.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-574661982905435365.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-574661982905435365.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-574661982905435365.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-574661982905435365.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-574661982905435365.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-574661982905435365.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-574661982905435365.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-574661982905435365.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-574661982905435365.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-574661982905435365.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-574661982905435365.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-574661982905435365.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-574661982905435365.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-574661982905435365.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-574661982905435365.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-574661982905435365.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-574661982905435365.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-574661982905435365.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-574661982905435365.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-574661982905435365.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-574661982905435365.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-574661982905435365.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-574661982905435365.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-574661982905435365.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-574661982905435365.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-574661982905435365.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-574661982905435365 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-574661982905435365 .gp-relative{position:relative}.gps-574661982905435365 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-574661982905435365 .gp-mb-0{margin-bottom:0}.gps-574661982905435365 .gp-flex{display:flex}.gps-574661982905435365 .gp-grid{display:grid}.gps-574661982905435365 .\!gp-hidden{display:none!important}.gps-574661982905435365 .gp-hidden{display:none}.gps-574661982905435365 .gp-max-w-full{max-width:100%}.gps-574661982905435365 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-574661982905435365 .gp-flex-col{flex-direction:column}.gps-574661982905435365 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-574661982905435365 .gp-duration-200{transition-duration:.2s}.gps-574661982905435365 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-574661982905435365 .tablet\:\!gp-hidden{display:none!important}.gps-574661982905435365 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-574661982905435365 .mobile\:\!gp-hidden{display:none!important}.gps-574661982905435365 .mobile\:gp-hidden{display:none}}.gps-574661982905435365 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>


    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gqD5TGJjgo"}' data-id="gqD5TGJjgo" id="gqD5TGJjgo" data-same-height-subgrid-container class="gqD5TGJjgo gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--pt:0px;--pb:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gdV5hBsL-O gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g9p7L_LO9O"
        class="g9p7L_LO9O"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mt:0px;--ml:191px;--mb:0px;--pl:0px;--pr:15px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753855924748"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:700;--size:46px;--size-tablet:46px;--size-mobile:41px;--lh:130%;--lh-tablet:130%;--lh-mobile:50%;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg9p7L_LO9O_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzgpDs22kT"
        class="gzgpDs22kT"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mt:0px;--ml:191px;--mr:191px;--pl:0px;--pr:0px;--mt-mobile:0px;--mt-tablet:var(--g-s-l);--mb-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753855924749"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:1000px;--w-mobile:1000px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzgpDs22kT_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6jTYk.woff) format('woff');
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6gTYnvDE5YfqXtUw.woff) format('woff');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6tTYnvDE5YfqXtUw.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6jTYnvDE5YfqU.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-574661982905435365 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=574659734590718751&sectionId=574661982905435365)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg9p7L_LO9O_text","label":"gg9p7L_LO9O_text","default":"<span style=\"background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:20px;\">Sustainable cultivation and quality awareness</span>"},{"type":"html","id":"ggzgpDs22kT_text","label":"ggzgpDs22kT_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:16px;\">Similar to wine, the origin, cultivation and careful harvesting also form the basis for a specialty coffee. For our coffees, we use only ripe and hand-picked 100% Arabica coffee beans, because the elaborate harvest by hand is an essential quality criterion. Our highland coffees are natural products and are grown in shady forest gardens in a nature-friendly way. This preserves the biodiversity in the growing region. The coffee cherries can ripen slowly at cool altitudes with nourishing and fertile soil conditions. The coffee plants have more time to develop their characteristic and fruity aromas under these optimal climatic conditions near the equator. &nbsp;</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
