

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-550298185831023673.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-550298185831023673.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-550298185831023673.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-550298185831023673.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-550298185831023673.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-550298185831023673.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-550298185831023673.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-550298185831023673.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-550298185831023673.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-550298185831023673.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-550298185831023673.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-550298185831023673.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-550298185831023673.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-550298185831023673.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-550298185831023673.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-550298185831023673.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-550298185831023673.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-550298185831023673.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-550298185831023673.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-550298185831023673.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-550298185831023673.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-550298185831023673.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-550298185831023673.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-550298185831023673.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-550298185831023673.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-550298185831023673.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-550298185831023673.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-550298185831023673.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-550298185831023673.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-550298185831023673.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-550298185831023673.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-550298185831023673.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-550298185831023673.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-550298185831023673.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-550298185831023673.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-550298185831023673.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-550298185831023673.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-550298185831023673.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-550298185831023673.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-550298185831023673.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-550298185831023673.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-550298185831023673.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-550298185831023673.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-550298185831023673.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-550298185831023673.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-550298185831023673.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-550298185831023673.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-550298185831023673.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-550298185831023673.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-550298185831023673.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-550298185831023673.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-550298185831023673.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-550298185831023673.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-550298185831023673.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-550298185831023673.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-550298185831023673 .gp-relative{position:relative}.gps-550298185831023673 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-550298185831023673 .gp-mb-0{margin-bottom:0}.gps-550298185831023673 .gp-flex{display:flex}.gps-550298185831023673 .gp-grid{display:grid}.gps-550298185831023673 .\!gp-hidden{display:none!important}.gps-550298185831023673 .gp-hidden{display:none}.gps-550298185831023673 .gp-max-w-full{max-width:100%}.gps-550298185831023673 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-550298185831023673 .gp-flex-col{flex-direction:column}.gps-550298185831023673 .gp-gap-y-0{row-gap:0}.gps-550298185831023673 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-550298185831023673 .gp-duration-200{transition-duration:.2s}.gps-550298185831023673 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-550298185831023673 .tablet\:\!gp-hidden{display:none!important}.gps-550298185831023673 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-550298185831023673 .mobile\:\!gp-hidden{display:none!important}.gps-550298185831023673 .mobile\:gp-hidden{display:none}}.gps-550298185831023673 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-550298185831023673 .\[\&_p\]\:gp-inline p{display:inline}.gps-550298185831023673 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-550298185831023673 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gHwJJijaBZ" data-id="gHwJJijaBZ"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pt:0px;--pb:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#151515;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHwJJijaBZ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gbM9xcIM3g gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gxdLqY7L5c" data-id="gxdLqY7L5c"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#151515;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gxdLqY7L5c gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJEbnpAdpq gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="grFUvIHGzX" data-id="grFUvIHGzX"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:920px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="grFUvIHGzX gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="graur1qXzi gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g5VPu2Osmo">
    <div
      parentTag="Col"
        class="g5VPu2Osmo "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-l);--mb:var(--g-s-l);--mt-mobile:var(--g-s-l);--mb-mobile:var(--g-s-l);--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.5px;--size:26px;--size-tablet:23px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#d3d3d3;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg5VPu2Osmo_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g0d3ZQM3dQ">
    <div
      parentTag="Col"
        class="g0d3ZQM3dQ "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:8px;--pb:24px;--mb-mobile:0px;--pt-mobile:7px;--pl-mobile:var(--g-s-s);--pb-mobile:14px;--pr-mobile:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg0d3ZQM3dQ_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g0d3ZQM3dQ">
        .g0d3ZQM3dQ .gp-text ul{
    padding-left: 2px !important;
}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-550298185831023673 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=549151885014074213&sectionId=550298185831023673)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg5VPu2Osmo_text","label":"gg5VPu2Osmo_text","default":"Why Make Espresso at Home?"},{"type":"html","id":"gg0d3ZQM3dQ_text","label":"gg0d3ZQM3dQ_text","default":"<p>Making espresso at home has become the ultimate form of self-care. Here’s why you should hop on the trend:</p><ul><li><strong>Cost Savings</strong>: Skip the $5+ café drinks and brew like a pro for a fraction of the cost.</li><li><strong>Customization</strong>: Adjust sweetness, milk alternatives, and flavor notes to suit your palate.</li><li><strong>The Experience</strong>: There’s nothing like the aroma of fresh espresso filling your home!</li></ul><p>The Meraki Home Espresso Machine amplifies these benefits with its user-friendly design and advanced features, making even beginners feel like baristas.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
