

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-547395569706927206.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-547395569706927206.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-547395569706927206.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-547395569706927206.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-547395569706927206.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-547395569706927206.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-547395569706927206.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-547395569706927206.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-547395569706927206.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-547395569706927206.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-547395569706927206.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-547395569706927206.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-547395569706927206.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-547395569706927206.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-547395569706927206.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-547395569706927206.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-547395569706927206.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-547395569706927206.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-547395569706927206.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-547395569706927206.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-547395569706927206.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-547395569706927206.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-547395569706927206.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-547395569706927206.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-547395569706927206.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-547395569706927206.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-547395569706927206.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-547395569706927206.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-547395569706927206.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-547395569706927206.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-547395569706927206.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-547395569706927206.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-547395569706927206.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-547395569706927206.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-547395569706927206.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-547395569706927206.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-547395569706927206.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-547395569706927206.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-547395569706927206.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-547395569706927206.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-547395569706927206.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-547395569706927206.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-547395569706927206.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-547395569706927206.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-547395569706927206.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-547395569706927206.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-547395569706927206.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-547395569706927206.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-547395569706927206.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-547395569706927206.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-547395569706927206.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-547395569706927206.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-547395569706927206.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-547395569706927206.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-547395569706927206.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-547395569706927206 .gp-relative{position:relative}.gps-547395569706927206 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-547395569706927206 .gp-mb-0{margin-bottom:0}.gps-547395569706927206 .gp-flex{display:flex}.gps-547395569706927206 .gp-grid{display:grid}.gps-547395569706927206 .\!gp-hidden{display:none!important}.gps-547395569706927206 .gp-hidden{display:none}.gps-547395569706927206 .gp-max-w-full{max-width:100%}.gps-547395569706927206 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-547395569706927206 .gp-flex-col{flex-direction:column}.gps-547395569706927206 .gp-gap-y-0{row-gap:0}.gps-547395569706927206 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547395569706927206 .gp-duration-200{transition-duration:.2s}.gps-547395569706927206 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-547395569706927206 .tablet\:\!gp-hidden{display:none!important}.gps-547395569706927206 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-547395569706927206 .mobile\:\!gp-hidden{display:none!important}.gps-547395569706927206 .mobile\:gp-hidden{display:none}}.gps-547395569706927206 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-547395569706927206 .\[\&_p\]\:gp-inline p{display:inline}.gps-547395569706927206 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-547395569706927206 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="geobLtDT6N" data-id="geobLtDT6N"
        style="--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="geobLtDT6N gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    
       
      
    <div
      label="Row" tag="Row" type="component" order justifyContent id="gXrFtGRi55" data-id="gXrFtGRi55"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-m);--pl:15px;--pb:var(--g-s-xl);--pr:15px;--pt-mobile:var(--g-s-m);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#151515;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gXrFtGRi55 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="giH-lpFXqK gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g0K1X9lWSG" data-id="g0K1X9lWSG"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(undefined);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g0K1X9lWSG gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="ggC-GYHh1- gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gF4xlWe9Yt" data-id="gF4xlWe9Yt"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pl:0px;--pb:0px;--pl-mobile:0px;--pr-mobile:0px;--pl-tablet:0px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#151515;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gF4xlWe9Yt gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gOQ5GH_Qzn gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gXmU5ZmpXX">
    <div
      parentTag="Col"
        class="gXmU5ZmpXX "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--mb-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:32px;--size-tablet:30px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#e5e5e5;word-break:break-word;--bgc:#151515;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggXmU5ZmpXX_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="gmnr2qRvVc" data-id="gmnr2qRvVc"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#151515;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gmnr2qRvVc gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g5iVYHO5S5 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gOt7GfAKj9">
    <div
      parentTag="Col"
        class="gOt7GfAKj9 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mr-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--pl-tablet:var(--g-s-xl);--pr-tablet:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggOt7GfAKj9_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3mvg6jTYk.woff) format('woff');
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3mvg6gTYnvDE5YfqXtUw.woff) format('woff');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3mvg6tTYnvDE5YfqXtUw.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3mvg6jTYnvDE5YfqU.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-547395569706927206 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_COLLECTION&editorId=547395569690084454&sectionId=547395569706927206)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggXmU5ZmpXX_text","label":"ggXmU5ZmpXX_text","default":"Meraki x Dark Horse"},{"type":"html","id":"ggOt7GfAKj9_text","label":"ggOt7GfAKj9_text","default":"<p>Discover a new level of coffee excellence with the <a href=\"https://www.darkhorsecoffeeroasters.com/meraki\" target=\"_blank\"><u>Meraki x Dark Horse</u></a> collaboration. Our precision-engineered espresso machines perfectly harmonize with the exceptional beans from Dark Horse, renowned for their meticulous roasting and unwavering commitment to quality, crafting an unforgettable coffee experience.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
