

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-576962779605369595.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-576962779605369595.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-576962779605369595.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-576962779605369595.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-576962779605369595.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-576962779605369595.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-576962779605369595.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-576962779605369595.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-576962779605369595.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-576962779605369595.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-576962779605369595.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-576962779605369595.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-576962779605369595.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-576962779605369595.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-576962779605369595.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-576962779605369595.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-576962779605369595.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-576962779605369595.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-576962779605369595.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-576962779605369595.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-576962779605369595.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-576962779605369595.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-576962779605369595.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-576962779605369595.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-576962779605369595.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-576962779605369595.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-576962779605369595.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-576962779605369595.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-576962779605369595.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-576962779605369595.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-576962779605369595.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-576962779605369595.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-576962779605369595.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-576962779605369595.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-576962779605369595.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-576962779605369595.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-576962779605369595.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-576962779605369595.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-576962779605369595.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-576962779605369595.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-576962779605369595.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-576962779605369595.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-576962779605369595.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-576962779605369595.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-576962779605369595.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-576962779605369595.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-576962779605369595.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-576962779605369595.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-576962779605369595.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-576962779605369595.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-576962779605369595.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-576962779605369595.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-576962779605369595.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-576962779605369595.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-576962779605369595.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-576962779605369595.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-576962779605369595.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-576962779605369595.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-576962779605369595.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-576962779605369595.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-576962779605369595.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-576962779605369595.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-576962779605369595.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-576962779605369595.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-576962779605369595.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-576962779605369595.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-576962779605369595.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-576962779605369595.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-576962779605369595.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-576962779605369595.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-576962779605369595.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-576962779605369595.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-576962779605369595.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-576962779605369595.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-576962779605369595.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-576962779605369595 .gp-relative{position:relative}.gps-576962779605369595 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-576962779605369595 .gp-mb-0{margin-bottom:0}.gps-576962779605369595 .gp-flex{display:flex}.gps-576962779605369595 .gp-grid{display:grid}.gps-576962779605369595 .\!gp-hidden{display:none!important}.gps-576962779605369595 .gp-hidden{display:none}.gps-576962779605369595 .gp-max-w-full{max-width:100%}.gps-576962779605369595 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-576962779605369595 .gp-flex-col{flex-direction:column}.gps-576962779605369595 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-576962779605369595 .gp-duration-200{transition-duration:.2s}.gps-576962779605369595 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-576962779605369595 .tablet\:\!gp-hidden{display:none!important}.gps-576962779605369595 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-576962779605369595 .mobile\:\!gp-hidden{display:none!important}.gps-576962779605369595 .mobile\:gp-hidden{display:none}}.gps-576962779605369595 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>


    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"grfa-o_Wtw"}' data-id="grfa-o_Wtw" id="grfa-o_Wtw" data-same-height-subgrid-container class="grfa-o_Wtw gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--ml:10px;--mb:50px;--mr:10px;--pt:0px;--pb:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gyMKq-V7ZX gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gfvgENYIh5"}' data-id="gfvgENYIh5" id="gfvgENYIh5" data-same-height-subgrid-container class="gfvgENYIh5 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:1200%;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g90IbejzCi gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gCmWZp1bMo"
        class="gCmWZp1bMo"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:var(--g-s-s);--mb-tablet:var(--g-s-xs);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753855184436"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:700;--size:32px;--size-tablet:28px;--size-mobile:30px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggCmWZp1bMo_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gN-vy6PHV7"
        class="gN-vy6PHV7"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753855184437"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:13px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggN-vy6PHV7_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_04uQ6jTYk.woff) format('woff');
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6jTYk.woff) format('woff');
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 14",
    "tag": "section",
    "class": "gps-576962779605369595 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=576959911389299451&sectionId=576962779605369595)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggCmWZp1bMo_text","label":"ggCmWZp1bMo_text","default":"Freshly roasted by hand"},{"type":"html","id":"ggN-vy6PHV7_text","label":"ggN-vy6PHV7_text","default":"<p>All Röststätte coffees are gently roasted by hand in Berlin so that the natural aromas can fully develop without any unwanted acidity. To achieve a pronounced body and a versatile taste profile in the cup, we want to emphasize and optimally process the special features of the respective variety, farm and origin of the coffee with our roasting. The aim is therefore to exploit the full potential of the green coffee through our roasting method in order to emphasize the valuable work of the producers in the countries where the coffee is grown. These are our quality principles – from source to the final cup.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
