<div class="meraki-in-box">
  <div
    class="meraki-in-box__inner container-default"
  >
    <div class="meraki-in-box__header">
      <h2 class="meraki-in-box__title">What’s in the Box</h2>
    </div>
    <div class="meraki-in-box__content">
      <div class="meraki-in-box__content-item-image">
        <img
          src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/1_4x-8.png?v=1750319407"
          alt="Meraki In Box"
          width="294"
          height="320"
          class="meraki-in-box__content-item-image-left"
        >
        <img
          src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/2_4x-8.png?v=1750319398"
          alt="Meraki In Box"
          width="439"
          height="302"
          class="meraki-in-box__content-item-image-right"
        >
      </div>
      <ul class="meraki-in-box__content-item-list">
        <li class="meraki-in-box__content-item-list-item"><span>1</span> Storage Box</li>
        <li class="meraki-in-box__content-item-list-item"><span>2</span>Coffee distributor</li>
        <li class="meraki-in-box__content-item-list-item"><span>3</span>Tamper</li>
        <li class="meraki-in-box__content-item-list-item"><span>4</span>Dosing cup</li>
        <li class="meraki-in-box__content-item-list-item"><span>5</span>58mm Portafilter</li>
        <li class="meraki-in-box__content-item-list-item"><span>6</span>Milk frothing pitcher</li>
        <li class="meraki-in-box__content-item-list-item"><span>7</span>Blind Portafilter basket</li>
        <li class="meraki-in-box__content-item-list-item"><span>8</span>18g Portafilter basket</li>
        <li class="meraki-in-box__content-item-list-item"><span>9</span>Double-spout</li>
        <li class="meraki-in-box__content-item-list-item"><span>10</span>Cleaning brush</li>
        <li class="meraki-in-box__content-item-list-item"><span>11</span>Cleaning cloth</li>
      </ul>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Meraki In Box",
  "settings": [],
  "presets": [
    {
      "name": "Meraki In Box"
    }
  ]
}
{% endschema %}
