<div class="product-specification" style="background-color: {{ section.settings.background_color }}">
  <div class="container-default">
    {% if section.settings.main_heading != blank %}
      <h2 class="product-specification-heading">{{ section.settings.main_heading }}</h2>
    {% endif %}
    {% if section.blocks.size > 0 %}
      <div class="product-specification-items">
        {% for block in section.blocks %}
          <div class="product-specification-item">
            <h3 class="product-specification-item-name">{{ block.settings.name }}</h3>
            {% if block.settings.detail != blank %}
              <ul class="product-specification-item-detail">
                {% assign details = block.settings.detail | newline_to_br | split: '<br />' %}
                {% for detail in details %}
                  {% if detail != blank %}
                    <li>{{ detail | strip }}</li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
{% schema %}
{
  "name": "Product Specification",
  "settings": [
    {
      "type": "textarea",
      "id": "main_heading",
      "label": "Main Heading",
      "default": "SPECS"
    },
    {
      "type": "color_background",
      "id": "background_color",
      "label": "Background Color",
      "default": "#fff"
    }
  ],
  "blocks": [
    {
      "type": "specification",
      "name": "Specification",
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Name",
          "default": "Name"
        },
        {
          "type": "richtext",
          "id": "detail",
          "label": "Detail",
          "default": "<p>Detail</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Specification",
      "blocks": [
        {
          "type": "specification"
        },
        {
          "type": "specification"
        },
        {
          "type": "specification"
        },
        {
          "type": "specification"
        },
        {
          "type": "specification"
        }
      ]
    }
  ]
}
{% endschema %}
