.product__tax.caption.rte{
           margin-top: -28px;
    margin-bottom: 48px;
}
.product__tax.caption.rte .product-tax-text {
        /* font-size: 16px; */
    line-height: 1.5;
    font-weight:300;
}